<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/addmanager.css">
</head>
<body>
    <div class="add">
        <form action="/createblog" method="post">
          
          
            
          <input type="text" placeholder="Tittle" id="topic" class="name" name="title">
          
          
          <select id="topic" name="topic">
            <option value="656c0fb29f513a2af85664ca">Politics</option>
            <option value="656c0fbd9f513a2af85664cc">Food</option>
            <option value="656c0fd09f513a2af85664ce">Sports</option>
            <option value="656c0fdb9f513a2af85664d0">Travel</option>
          </select> 
    
          
          <textarea id="content" name="content" placeholder="content" required></textarea>
          <button type="submit">upload</button>
        </form>
      </div>
      
      
      
</body>
</html>

